@model UserModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Name!</h1>
    <p>Essa é a página inicial da sua aplicação.</p>
    <p>Seu Email é: @Model.Email</p>
    <p>Sua senha criptografada é: @Model.Password</p>
</div>